.calendar-container,
.calendar,
.calendar-header,
td,
tr {
  padding: 0;
  margin: 0;
}

.calendar-container {
  border-radius: 2px;
  height: 100%;
}

.calendar {
  height: 100%;
  border-spacing: 10px;
  width: 100%;
}

.empty-slot {
  text-align: center;
}

.week-day {
  text-align: center;
  font-size: 0.8em;
}

.day {
  vertical-align: top;
  font-size: 0.8em;
  cursor: pointer;
  width: 14%;
  height: 16%;
  line-height: 24px;
  border: whitesmoke 2px solid;
  border-radius: 6px;
}

.day .day-num,
.blank {
  position: absolute;
  margin-left: 5px;
  font-size: 1.4em;
  pointer-events: none;
}

.day .blank {
  color: grey;
}

.day .meal-name {
  display: flex;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.current-day {
  background-color: #4285f4;
  border-color: #4285f4;
  color: white;
}

.selected-day {
  background-color: rgba(128, 128, 128, 0.651);
  border-color: rgba(128, 128, 128, 0.651);
}
.meal-name {
  pointer-events: none;
}

.prev:hover {
  cursor: pointer;
}

.next:hover {
  cursor: pointer;
}
